// Button.module.scss

.btn {
    margin: 5px;
    border: none;
    border-radius: 4px;
    transition:0.3s ease-in-out; 
    &:hover {
        background-color: var(--hover-color, red); 
      }
  }
  